# Virtual Environment
venv/
.venv/

# Environment Variables
.env
.env.*

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Build
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Upload sementara
uploads/
temp/